@inherits ExcelTableBase

<table class="table">
    <thead>
        <tr>
            @foreach (var header in headers)
            {
                <th scope="col">@header</th>

            }
        </tr>
    </thead>
    <tbody>
        @foreach (var datarow in data)
        {
            <tr>
                @foreach (var data in datarow)
                {
                    <td>@data</td>
                }
            </tr>
        }

    </tbody>
</table>